{{ form }}

<div id="callLog"></div>

<audio id="calling" src="/{{ path }}/assets/calling.wav" loop ></audio>
<audio id="ringtone" src="/{{ path }}/assets/ringtone.mp3" loop ></audio>

<audio id="outgoing" autoplay></audio>
<audio id="incoming" autoplay></audio>

<audio id="recording"></audio>
